[target.'cfg(all(target_arch = "arm", target_os = "none"))']
# runner = "probe-run --chip nRF52832_xxAA" # nRF52DK
runner = "probe-run --chip nRF52833_xxAA" # Microbit v2
# runner = "probe-run --chip nRF52840_xxAA" # nRF52840DK

rustflags = [
  # "-C", "linker=flip-link",
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=-Tdefmt.x",
  # This is needed if your flash or ram addresses are not aligned to 0x10000 in memory.x
  # See https://github.com/rust-embedded/cortex-m-quickstart/pull/95
  "-C", "link-arg=--nmagic",
]

[build]
target = "thumbv7em-none-eabihf" # Cortex-M4F and Cortex-M7F (with FPU)

[env]
DEFMT_LOG = "trace"

[alias]
rb = "run --bin"
rrb = "run --release --bin"
